{{!-- <!DOCTYPE html> --}}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <div class="loader">
    <div class="loader1" style="text-align: center;"></div>
</div>
 
    <meta charset="UTF-8">
    <title>Gestiona CV</title>
    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {{!-- BOOTSTRAP 4 --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {{!-- FONT AWESOME 5 --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    {{!-- STYLES --}}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>



<body>
{{> navigation }}
{{>message}}
{{{ body }}}

{{!-- SCRIPTS --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"

        crossorigin="anonymous"></script>



        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <meta name="google-signin-client_id" content="771954959053-tpsc0p2a5rj5stm9rqq1uen5oqaeitgh.apps.googleusercontent.com">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        {{!-- copia el enlace --}}
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.3/dist/clipboard.min.js"></script>

<script src="js/login.js"></script>


<script>
function onSignIn(googleUser) {
/*
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
*/


 var id_token = googleUser.getAuthResponse().id_token;
 var xhr = new XMLHttpRequest();
  xhr.open('POST', '/signin2');
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onload = function() {
  console.log('Signed in as: ' + xhr.responseText);

 if(xhr.responseText =='success'){
   
   location.assign('/profile')

   signOut();
 }  

};
xhr.send(JSON.stringify({token: id_token}));




  }


</script>


<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('Cerrado.');
    });
  }
</script>


<script type="text/javascript">
$(window).load(function() {
    $(".loader").fadeOut("slow");
});
</script> 

<script>
  var clipboard = new Clipboard('.btn');
</script>



</body>
</html>